<div *ngIf="_samplingEvents">
  {{ _samplingEvents.count }} matching events
  <div fxLayout="column" *ngFor="let _samplingEvent of _samplingEvents.samplingEvents">
    <div fxLayout="row">
      <div [fxFlex]="grow">
        <h3>Event Details</h3>
        <div>Event ID:        {{_samplingEvent.samplingEventId}}</div>
        <div>Study Name:      {{_samplingEvent.studyName}}</div>
        <div>Collection Date: {{_samplingEvent.doc}} {{_samplingEvent.doc_accuracy}}</div>
      </div>
      <div [fxFlex]="grow">
        <div *ngIf="_samplingEvent.eventSets">
          <h3>Event Sets</h3>
          <div *ngFor="let es of _samplingEvent.eventSets">
            {{es}}
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div [fxFlex]="grow">
          <app-attr-table [attrs]="_samplingEvent.attrs"></app-attr-table>
      </div>
    </div>
    <div fxLayout="row">
      <div [fxFlex]="grow">
        <div *ngIf="_samplingEvent.individualId">
          <h3>Individual</h3>
          <app-individual-view [individualId]="_samplingEvent.individualId"></app-individual-view>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div [fxFlex]="grow">
        <div *ngIf="_samplingEvent.location">
          <h3>Location</h3>
          <app-location-view [location]="_samplingEvent.location"></app-location-view>
        </div>
      </div>
      <div [fxFlex]="grow">
        <div *ngIf="_samplingEvent.proxy_location">
          <h3>Proxy Location</h3>
          <app-location-view [location]="_samplingEvent.proxy_location"></app-location-view>
        </div>
      </div>
    </div>
  </div>
