<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="attr_source">
      <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.attr_source}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="attr_type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.attr_type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="attr_value">
      <mat-header-cell *matHeaderCellDef>Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.attr_value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="studyName">
        <mat-header-cell *matHeaderCellDef>Study</mat-header-cell>
        <mat-cell *matCellDef="let element"> <a mat-raised-button color="accent" [routerLink]="[studyEvents,element.studyName]">{{element.study_name}}</a> </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="attrColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: attrColumns;"></mat-row>


  </mat-table>