<sims-study-edit>
  <form study-edit-left-col-bottom *ngIf="studyProperties" [formGroup]="studyForm">

    <div>
      <mat-label i18n="@@simsStatus">Status</mat-label>
      <mat-form-field>
        <input matInput type="text" formControlName="status" readonly />
      </mat-form-field>
    </div>

    <div>
      <div>
        <mat-label i18n="@@simsWebTitle">Web Title</mat-label>
        <angular-editor cdkTextareaAutosize formControlName="webTitle" readonly [config]="editorConfig">
        </angular-editor>
      </div>

      <div>
        <mat-checkbox i18n="@@simsWebTitleApproved" type="text" formControlName="webTitleApproved" readonly>Web Title Approved</mat-checkbox>
      </div>
    </div>
    <div>
      <mat-label i18n="@@simsDescription">Description</mat-label>
      <angular-editor cdkTextareaAutosize formControlName="description" readonly [config]="editorConfig">
      </angular-editor>
      <div>
        <mat-checkbox i18n="@@simsDescriptionApproved" type="text" formControlName="descriptionApproved" readonly>Description Approved</mat-checkbox>
      </div>
    </div>

  </form>
</sims-study-edit>
