<sims-study-edit>
  <form study-edit-left-col-bottom *ngIf="studyProperties" [formGroup]="studyForm">

    <div>
      <mat-label>{{ status | translate }}</mat-label>
      <mat-form-field>
        <input matInput type="text" formControlName="status" readonly>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>{{ description | translate }}</mat-label>
      <textarea matInput matTextareaAutosize formControlName="description" readonly></textarea>

    </mat-form-field>

  </form>
</sims-study-edit>