<div fxLayout="row">
  <div fxFlex="50%">
    <div class="study-edit-form">
      <form *ngIf="studyForm" [formGroup]="studyForm" (ngSubmit)="onSubmit(studyForm)">

        <p>
          <mat-form-field class="code">
            <input matInput placeholder="Code:" type="text" formControlName="code">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Name:" type="text" formControlName="name">
          </mat-form-field>
        </p>

        <div formArrayName="partner_species">
          <div *ngFor="let species of studyForm.controls.partner_species.controls; let i=index">
            <div [formGroupName]="i">
              <app-taxonomy-edit [group]="studyForm.controls.partner_species.controls[i]" [taxonomies]="taxonomies"></app-taxonomy-edit>
            </div>
          </div>
        </div>
        <p>
          <button mat-raised-button type="submit" [disabled]="!studyForm.valid">Submit</button>
        </p>

        <a mat-raised-button color="accent" [routerLink]="[studyEvents,studyCode]">Sampling Events</a>
      </form>
    </div>
  </div>

  <div fxFlex="50%">
    <div>Locations</div>
    <div *ngIf="study">
      <!-- Note layer will not be shown by default
      <app-locations-map [locations]="study.locations"></app-locations-map>
      -->
      <div>
        <div *ngFor="let s of study.locations.locations">
          <div fxLayout="row">
            <span fxFlex="40%">
              <span *ngFor="let ident of s.identifiers">
                <a mat-raised-button color="accent" [routerLink]="['/location',s.latitude,s.longitude]">
                  <span *ngIf="ident.study_name.startsWith(studyCode)">
                    {{ ident.identifier_value}}
                  </span>
                </a>
              </span>
            </span>
            <span fxFlex="40%">{{s.curated_name}}</span>
            <span fxFlex="10%">{{ s.country }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>