<div *ngIf="taxonomies" class="grid grid-pad">
  <div *ngFor="let t of taxonomies">
    <div fxLayout="row">
      <div fxFlex="10%">
        <a [routerLink]="['/taxa/events', t.taxonomyId]">
          Sampling Events
        </a>
      </div>
      <div fxFlex="10%">
        <a [routerLink]="['/taxa/os', t.taxonomyId]">
          Original Samples
        </a>
      </div>
      <div fxFlex="10%">
        <a [routerLink]="['/taxa/ds', t.taxonomyId]">
          Derivative Samples
        </a>
      </div>
      <div fxFlex="10%">
        {{t.rank}}
      </div>
      <div fxFlex="60%">
        {{t.taxonomyId}} {{t.name}}
      </div>
    </div>
  </div>
</div>