# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: sims-sampling-event-service
#service: sims-backbone-service

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: python3.6
  region: eu-west-1
  stage: ${opt:stage, 'dev'}
  versionFunctions: false
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - ec2:CreateNetworkInterface
        - ec2:DescribeNetworkInterfaces
        - ec2:DeleteNetworkInterface
      Resource: "*"
  environment:
    DB_USER: ${file(../config.${self:provider.stage}.json):db_user}
    DATABASE: ${file(../config.${self:provider.stage}.json):database}
    DB_PASSWORD: ${file(../config.${self:provider.stage}.json):db_password}
    DB_HOST: ${cf:sims-backbone-service-${self:provider.stage}.DbHostOutput}
    AUTH_PROFILE_URL: ${file(../config.${self:provider.stage}.json):auth_profile}
    PYTHON_PATH: '.:../server:../server/bb_server'
  vpc:
    securityGroupIds:
      - ${cf:sims-backbone-service-${self:provider.stage}.ServerlessSecurityGroupOutput}
    subnetIds:
      - 'Fn::ImportValue': sims-backbone-service:PublicSubnetA-${self:provider.stage}
      - 'Fn::ImportValue': sims-backbone-service:PublicSubnetB-${self:provider.stage}
      - 'Fn::ImportValue': sims-backbone-service:PublicSubnetC-${self:provider.stage}
  apiGateway:
    restApiId: ${cf:sims-backbone-service-${self:provider.stage}.ApiGatewayRestApi}
    restApiRootResourceId: ${cf:sims-backbone-service-${self:provider.stage}.ApiGatewayRestApiRootResource}

plugins:
      - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true

package:
    exclude:
        - requirements.txt
        - serverless.yml
        - node_modules/**
        - venv/**
        - package.json
        - package-lock.json
        - endpoints.txt
        - updateall.sh
        - ../../server/backbone_server/connect.py
    include:
        - ../util/**
        - sampling_event/handler.py
        - ../../server/bb_server/**
        - ../../server/backbone_server/**/**
        - ../client_secrets.${self:provider.stage}.json

functions:

  createSampling_event:
    handler: sampling_event/handler.create_sampling_event
    events:
      - http:
          path: samplingEvent
          method: post
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*

  downloadSampling_event:
    handler: sampling_event/handler.download_sampling_event
    events:
      - http:
          path: samplingEvent/{sampling_event_id}
          method: get
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                sampling_event_id: true

  downloadSampling_events:
    handler: sampling_event/handler.download_sampling_events
    events:
      - http:
          path: samplingEvents
          method: get
          cors: true
          timeout: 300
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              query:
                filter: false
                start: false
                count: false

  updateSampling_event:
    handler: sampling_event/handler.update_sampling_event
    events:
      - http:
          path: samplingEvent/{sampling_event_id}
          method: put
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                sampling_event_id: true
  deleteSampling_event:
    handler: sampling_event/handler.delete_sampling_event
    events:
      - http:
          path: samplingEvent/{sampling_event_id}
          method: delete
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                sampling_event_id: true

  downloadSampling_events_by_attr:
    handler: sampling_event/handler.download_sampling_events_by_attr
    events:
      - http:
          path: samplingEvents/attr/{prop_name}/{prop_value}
          method: get
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                prop_name: true
                prop_value: true
              query:
                study_name: false

  downloadSamplingEventsByOsAttr:
    handler: sampling_event/handler.download_sampling_events_by_os_attr
    events:
      - http:
          path: samplingEvents/os/attr/{prop_name}/{prop_value}
          method: get
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                prop_name: true
                prop_value: true
              query:
                study_name: false

  downloadSampling_events_by_loc:
    handler: sampling_event/handler.download_sampling_events_by_location
    events:
      - http:
          path: samplingEvents/location/{location_id}
          method: get
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                location_id: true
              query:
                start: false
                count: false

  download_events_by_study:
    handler: sampling_event/handler.download_sampling_events_by_study
    events:
      - http:
          path: samplingEvents/study/{study_name}
          method: get
          cors: true
          timeout: 300
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                study_name: true
              query:
                start: false
                count: false

  downloadSampling_events_by_taxa:
    handler: sampling_event/handler.download_sampling_events_by_taxa
    events:
      - http:
          path: samplingEvents/taxa/{taxa_id}
          method: get
          cors: true
          timeout: 300
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                taxa_id: true
              query:
                start: false
                count: false

  download_events_by_event_set:
    handler: sampling_event/handler.download_sampling_events_by_event_set
    events:
      - http:
          path: samplingEvents/eventSet/{event_set_id}
          method: get
          cors: true
          timeout: 300
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                event_set_id: true
              query:
                start: false
                count: false

  mergeSamplingEvents:
    handler: sampling_event/handler.merge_sampling_events
    events:
      - http:
          path: samplingEvents/merge/{into}/{merged}
          method: put
          cors: true
          timeout: 20
          authorizer:
            name: seAuthFunc
            arn: ${cf:sims-backbone-service-${self:provider.stage}.AuthFunc}
            type: request
            identitySource: method.request.header.Authorization
            identityValidationExpression: .*
          request:
            parameters:
              paths:
                into: true
                merged: true

resources:
  Resources:
    CreateUnderscoresamplingUnderscoreeventLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadUnderscoresamplingUnderscoreeventLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadUnderscoresamplingUnderscoreeventsLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    UpdateUnderscoresamplingUnderscoreeventLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DeleteUnderscoresamplingUnderscoreeventLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadSamplingUnderscoreeventUnderscorebyUnderscoreattrLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadSamplingEventByOsAttrLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadSamplingUnderscoreeventsUnderscorebyUnderscorelocLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadUnderscoreeventsUnderscorebyUnderscorestudyLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadSamplingUnderscoreeventsUnderscorebyUnderscoretaxaLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    DownloadUnderscoreeventsUnderscorebyUnderscoreeventUnderscoresetLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
    MergeSamplingEventsLogGroup:
      Type: AWS::Logs::LogGroup
      Properties:
        RetentionInDays: "30"
