<p>

</p>
<div *ngIf="eventSets" class="grid grid-pad">
  <div *ngFor="let es of eventSets">
    <div fxLayout="row">
      <div fxFlex="50%">
        {{es.eventSet_name}}
      </div>
      <div fxFlex="10%">
        <a [routerLink]="['/eventSet/events', es.eventSet_name]">
          Events
        </a>
      </div>
      <div fxFlex="10%">
        <a [routerLink]="['/eventSet/os', es.eventSet_name]">
          Original Samples
        </a>
      </div>
      <div fxFlex="10%">
        <a [routerLink]="['/eventSet/ds', es.eventSet_name]">
          Derivative Samples
        </a>
      </div>
      <div fxFlex="20%">
          <a [routerLink]="['/eventSet/', es.eventSet_name]">
            Notes
          </a>
        </div>
    </div>
  </div>
</div>