<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addEventSet($event)">
    <mat-icon>mode_edit</mat-icon>
    <span>{{ addEventSets| translate }}</span>
  </button>
</mat-menu>
<span id="title">{{ title | translate }}</span>
<mat-toolbar>
  <nav>
    <a mat-raised-button color="primary" routerLink="/studies" routerLinkActive="active">{{ studies | translate }}</a>
    <a mat-raised-button color="primary" routerLink="/full-map" routerLinkActive="active">{{ locations | translate }}</a>
    <a mat-raised-button color="primary" routerLink="/taxa" routerLinkActive="active">{{ taxa | translate }}</a>
    <a mat-raised-button color="primary" routerLink="/eventSets" routerLinkActive="active">{{ eventSets | translate }}</a>
    <a mat-raised-button color="primary" routerLink="/search" routerLinkActive="active">{{ search | translate }}</a>
    <a mat-raised-button color="primary" routerLink="/reports" routerLinkActive="active">{{ reports | translate }}</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>