<app-csv-downloader [data]="dataSource" [fileName]="downloadFileName"></app-csv-downloader>
{{count}}

<div>
  <button mat-raised-button (click)="selectAll()">Select all</button>
  <button mat-raised-button (click)="selectNone()">Select none</button>

  <button *ngIf="_eventSetName" mat-raised-button (click)="editEventSet('Remove')">Remove from event set</button>
  <button *ngIf="!_eventSetName" mat-raised-button (click)="editEventSet('Add')">Add to event set</button>

  <mat-progress-bar
          class="example-margin"
          [color]="primary"
          [mode]="determinate"
          [value]="progress">
      </mat-progress-bar>
</div>

<div  class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let col of displayedColumns" matColumnDef= {{col}}>
      <mat-header-cell *matHeaderCellDef md-sort-header > {{ col }} </mat-header-cell>
      <mat-cell  *matCellDef="let row" [innerHTML]="row[col]"></mat-cell>
    </ng-container>
    
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)" [ngClass]="{'row-highlight': selectedEvents.has(row.id) }"></mat-row>
  </mat-table>
</div>
