<div *ngIf="assayData">
    {{ assayData.count }} matching derivative samples
    <div fxLayout="column" *ngFor="let assayDatum of assayData.assay_data">
      <div fxLayout="row">
        <div [fxFlex]="grow">
          <h3>assayData Sample Details</h3>
          <div>ID: {{assayData.assay_datumId}}</div>
          <div>EBI Run Accession Number: {{assayData.ebi_run_acc}}</div>
        </div>
      </div>
      <div fxLayout="row">
        <div [fxFlex]="grow">
          <app-attr-table [attrs]="assayData.attrs"></app-attr-table>
        </div>
      </div>
    </div>
  </div>