<div fxLayout="row">
  <div fxFlex="50%">
    <div class="event-set-edit-form">
      <form *ngIf="eventSetForm" [formGroup]="eventSetForm" (ngSubmit)="onSubmit(eventSetForm)">

        <p>
          <mat-form-field>
            <input matInput placeholder="Name:" type="text" formControlName="eventSet_name">
          </mat-form-field>
        </p>

        <div formArrayName="notes">
          <div *ngFor="let note of eventSetForm.controls.notes.controls; let i=index">
            <div [formGroup]="note">
              <mat-form-field>
                <input matInput placeholder="Note Name:" type="text" formControlName="note_name">
              </mat-form-field>
              <span mat-button (click)="removeNote(i)">Remove note -</span>
              <p>
                <mat-form-field class="event-set-note">
                  <textarea matInput placeholder="Note Text:" type="text" formControlName="note_text"></textarea>
                </mat-form-field>
              </p>

            </div>
            
          </div>
        </div>
        <p>
          <a mat-button (click)="addNote()" style="cursor: default">
            Add another note +
          </a>
        </p>
        <p>
          <button mat-raised-button type="submit" [disabled]="!eventSetForm.valid">Save</button>
        </p>

        <a mat-raised-button color="accent" [routerLink]="['/eventSet/events/',eventSetId]">Sampling Events</a>
      </form>


    </div>
  </div>
</div>