.containerX {
      padding: 5px;
        border: solid 1px #b6b6b6;
          box-sizing: content-box !important;
      }

      div.container {
            display: flex;
              margin-bottom: 10px;
                color: white;
            }

div.container > div {
  flex: 1 1 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #03a9f4;
  margin-left: 10px;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

div.container > div:first-child {
  margin-left: 0;
}

agm-map {
      height: 250px;
  }

.curated_name {
  width: 300px;
}
